-var deputies = locals.deputies
-var coordDict = locals.dict 

.chamber-arch
  -var counter=0
  each _, i in Array(120)
    -var d = deputies[i];
    .deputy.deputy-arch(class="#{d.partido}" data-index="#{i}" style="left: #{dict[i].left}; top: #{dict[i].top}")

#info-window.modal.fade(role="dialog" tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal") &times
        .avatar
          img
        .header-info
          p Nombre: 
            span.name
          p Partido: 
            span.party
      .modal-body
        //table_votes.jade will be added here
      .modal-footer
         button.btn.btn-default(type="button" data-dismiss="modal") Cerrar
