.my-container {
}

.chamber {
  height: 159px;
  width: 602px;
  border: 1px solid black;
  margin: 0 auto;
}

.deputy {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  margin:5px;
  opacity: 1;
}

.deputy.deputy-arch {
  position:absolute;
}

.deputy:hover {
  opacity: 0.3;
}

.deputies-set {
  display: inline-block;
  width: 30px;
  border: 1px dotted green;
}

.deputy.PC {
  background-color: #b85b39;
}

.deputy.PS {
  background-color: #ff0000;
}

.deputy.PPD {
  background-color: #ff8c00;
}

.deputy.DC {
  background-color: #1e90ff;
}

.deputy.RN {
  background-color: #3333FF;
}

.deputy.UDI {
  background-color: #000080;
}

.deputy.AMPL {
  background-color: #ffd700;
}

.deputy.EVOP {
  background-color: #00ffff;
}

.deputy.IND {
  background-color: #808080;
}

.deputy.IC {
  background-color: #800080;
}

.deputy.PL {
  background-color: #c9dc87;
}

.deputy.PRSD {
  background-color: #5d7e3f;
}

.deputy.REVD {
  background-color: #daa520;
}


#info-window .modal-dialog {
  width: 400px;
}

#info-window .avatar {
  width: 48px;
  height:48px;
  border: 1px solid black;
  float: left;
  margin: 10px;
}

#info-window .header-info {
  margin-left: 90px;
  margin-top: 10px;
}

#info-window table {
  padding: 20px;
  width: 100%
}
