.my-container {
}

.chamber {
  height: 159px;
  width: 602px;
  border: 1px solid black;
  margin: 0 auto;
}

.deputy {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  margin:5px;
  opacity: 1;
}

.deputy.deputy-arch {
  position:absolute;
}

.deputy:hover {
  opacity: 0.3;
}

.deputies-set {
  display: inline-block;
  width: 30px;
  border: 1px dotted green;
}

.deputy.PC {
  background-color: #8B0000;
}

.deputy.IC {
  background-color: #800080;
}

.deputy.PS {
  background-color: #ff0000;
}

.deputy.PRSD {
  background-color: #008080;
}

.deputy.PPD {
  background-color: #ffa500;
}

.deputy.DC {
  background-color: #1e90ff;
}

.deputy.REVD {
  background-color: #1d4c4f;
}

.deputy.PL {
  background-color: #ddff55;
}

.deputy.IND {
  background-color: #808080;
}

.deputy.AMPL {
  background-color: #f0cf00;
}

.deputy.EVOP {
  background-color: #00bfff;
}

.deputy.RN {
  background-color: #135bb8;
}

.deputy.UDI {
  background-color: #00008b;
}

#info-window .modal-dialog {
  margin-left: 10%;
  /*width: 480px;*/
}

#info-window .avatar {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  float: left;
  margin: 10px;
}

#info-window .avatar img{
  width: 100%;
  height:100%;
}

#info-window .header-info {
  margin-left: 160px;
  margin-top: 10px;
}

#info-window table.vote-table {
  padding: 20px;
  width: 100%
}

#info-window table.vote-table {
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

#info-window tr:first-of-type td {
  color: #9FA9BA;
}

#info-window table.vote-table td {
  border: 1px solid #979797;
  background-color: #F9F9F9;
  padding: 10px;
}

#info-window p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

#info-window p.header {
  color: #9FA9BA;
  font-weight: 500;
}

#info-window p.party {
  color: #000000;
  font-weight: bold;
}

#info-window p.name {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 10px;
}

#info-window .modal-header p {
  color: #000000;
  font-size: 26px;
  font-weight: 900;
  line-height: 34px;
}

#info-window table.info-table {
  min-height: 60px;
  width: calc(100% + 32px);
  margin-top: 30px;
  margin-left: -16px;
  box-sizing: border-box;
}

#info-window table.info-table td {
  border: 1px solid #979797;
  background-color: #F9F9F9;
  width: 33%;
}

#info-window table.info-table p {
  color: #9FA9BA;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: -5px;
}

#info-window table.info-table p.value {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
}

#info-window p.vote-info {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  line-height: 39px;
}

#info-window table.vote-table td.vote.favor {
  background-color: #76ff03;
}

#info-window table.vote-table td.vote.contra {
  background-color: #d0021b;
}

#info-window table.vote-table td.vote.abstencion {
  background-color: #4babce;
}

#info-window table.vote-table td.vote.pareo {
  background-color: #a37da9;
}

#info-window table.vote-table td.vote.ausente {
  background-color: #32343d;
}

#info-window table.vote-table td.vote.novoto {
  background-color: #808080;
}
